version: "3.9"  # optional since v1.27.0
services:
  grisera_neo4j:
    build: graph_db
    ports:
      - "7474:7474"
      - "7687:7687"

  graph_api:
    build: graph_api
    ports:
      - "18080:80"
    extra_hosts: 
      - "host.docker.internal:host-gateway"
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=7474
      
  grisera_api:
    build: grisera_api
    ports:
      - "18081:80"
    extra_hosts: 
      - "host.docker.internal:host-gateway"
    environment:
      - GRAPH_API_HOST=host.docker.internal
      - GRAPH_API_PORT=18080
      - PERSISTENCE_TYPE=1
      
  grisera_api_ontology:
    build: grisera_api_ontology
    ports:
      - "18083:80"
    extra_hosts: 
      - "host.docker.internal:host-gateway"
    environment:
      - ONTOLOGY_API_HOST=host.docker.internal
      - ONTOLOGY_API_PORT=18082
      - PERSISTENCE_TYPE=2
      
  ontology_api:
    build: ontology_api
    ports:
      - "18082:80"
    extra_hosts: 
      - "host.docker.internal:host-gateway"
